.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
.custom-inputgroup .p-inputgroup-addon,
.custom-inputgroup .p-dropdown,
.custom-inputgroup .p-inputnumber, .custom-inputnumber,.in-miles .p-inputnumber-button-group {
	height: 30px !important;

	/* line-height: normal; */
}

.map-boundary .p-dropdown,
.map-boundary .p-inputnumber {
	height: 45px;
	background: #f0f3f8 !important;
	border-radius: 19px;
}

.map-boundary .p-inputnumber .p-inputtext {
	width: 45px;
}

/* custom css for the map filters inputs */


.custom-inputgroup .p-dropdown {
	max-width: 33% !important;
	/* border-top-left-radius: 19px !important;
	border-bottom-left-radius: 19px !important; */
}

.map-boundry-dropdown .p-dropdown {
		height: 30px;
		/* border-radius: 19px !important; */
}



.button {
	background-color: #e7e7e7;
	color: #23a4c3;
	border: none;
	padding: 9px 14px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.6px;
	margin: 4px 2px;
	cursor: pointer;
}


.in-miles .p-inputnumber-button-group .p-button {
	background: #fff !important; 
	border: none !important;
}
.in-miles .p-inputnumber-button-group .p-button-icon {
	color: black !important; 
}

/* Custom CSS for Dialog Header */
.p-dialog-header {
	padding-top: 0.5rem !important;
	padding-bottom: 0.5rem !important;
    height: 50px;                         
   
}

.p-dialog-header {
	background-color: #1176d8 !important;
	color: white !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
	color: white !important;
}

.p-dialog .p-dialog-content {
	padding-bottom: 1rem !important;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
	background : #1176d8 !important
}
